<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pagina2</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pagina2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/pagina3">Ir a Pagina 3</ion-button> 
  <ion-button size="small" expand="full">Pequeño</ion-button>
  <ion-button size="default" expand="full">Mediano</ion-button>
  <ion-button size="large" expand="full">Grande</ion-button>
  <button class="estilo-boton" id="open-toast" size="large" expand="full">Hola</button>
</ion-content>
