// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-new: #fbff00;
	--ion-color-new-rgb: 251,255,0;
	--ion-color-new-contrast: #000000;
	--ion-color-new-contrast-rgb: 0,0,0;
	--ion-color-new-shade: #dde000;
	--ion-color-new-tint: #fbff1a;
}